@model BusinessApplication.ViewModels.MultipleVM


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-header-sap">
                        <div class="card-header">
                            <h3 class="card-title">Business Plan</h3>
                        </div>



                        @*New*@

                        <div class="card-body">
                            <div class="row pt-3" style="margin:5px">

                                @using (Html.BeginForm("Edit", "File", new { year = ViewBag.BP_YEAR, jobno = ViewBag.JOBNO }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @*@Html.HiddenFor(model => model.DictVM.BP_YEAR)

                                        @Html.HiddenFor(model => model.DictVM.JOB_NO)*@

                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Bussiness Plan Year<span class="text-danger">*</span></label>
                                            <div class="col-md-4">
                                                @Html.EditorFor(model => model.DictVM.BP_YEAR, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DictVM.BP_YEAR, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Job No<span class="text-danger">*</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
                                            <div class="col-md-3">
                                                @Html.EditorFor(model => model.DictVM.JOB_NO, new { htmlAttributes = new { @class = "form-control", @id = "JobNo", @onkeydown = "GetDiv()" } })
                                                @Html.ValidationMessageFor(model => model.DictVM.JOB_NO, "", new { @class = "text-danger" })
                                            </div>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                            <label class="col-sm-2 col-form-label">Division &nbsp; &nbsp; &nbsp;</label>
                                            <div class="col-md-3">
                                                @Html.EditorFor(model => model.DictVM.DIVISION, new { htmlAttributes = new { @class = "form-control", @id = "Div" } })
                                                @Html.ValidationMessageFor(model => model.DictVM.DIVISION, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label"> Contract Value<span class="text-danger">*</span>&nbsp; </label>
                                            <div class="col-md-3">
                                                @Html.EditorFor(model => model.DictVM.JOB_VOWD, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DictVM.JOB_VOWD, "", new { @class = "text-danger" })
                                            </div> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                            <label class="col-sm-2 col-form-label">Start Date<span class="text-danger">*</span>&nbsp; &nbsp;</label>
                                            @*<div class="col-md-3">
                                                    @Html.EditorFor(model => model.DictVM.SDATE, new { htmlAttributes = new { @class = "form-control", @type = "date", @Value = Model.DictVM.SDATE?.ToString("yyyy-MM-dd") } })
                                                    @Html.ValidationMessageFor(model => model.DictVM.SDATE, "", new { @class = "text-danger" })
                                                </div>*@

                                            <div class="col-md-3">
                                                @if (Model.DictVM != null)
                                                {
                                                    @Html.EditorFor(model => model.DictVM.SDATE, new { htmlAttributes = new { @class = "form-control", @type = "date", @Value = Model.DictVM.SDATE?.ToString("yyyy-MM-dd") } })
                                                    @Html.ValidationMessageFor(model => model.DictVM.SDATE, "", new { @class = "text-danger" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.DictVM.SDATE, new { @class = "form-control", @type = "date" })
                                                    @Html.ValidationMessageFor(model => model.DictVM.SDATE, "", new { @class = "text-danger" })
                                                }
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label"> Job Leader <span class="text-danger">*</span>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; </label>
                                            <div class="col-md-3">
                                                @Html.EditorFor(model => model.DictVM.BP_MANAGER, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DictVM.BP_MANAGER, "", new { @class = "text-danger" })
                                            </div> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                            <label class="col-sm-2 col-form-label"> Finish Date<span class="text-danger">*</span></label>
                                            <div class="col-md-3">
                                                @Html.EditorFor(model => model.DictVM.FDATE, new { htmlAttributes = new { @class = "form-control", @type = "date", @Value = Model.DictVM.FDATE?.ToString("yyyy-MM-dd") } })
                                                @Html.ValidationMessageFor(model => model.DictVM.FDATE, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">Client<span class="text-danger">*</span>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.DictVM.CLIENT, (IEnumerable<SelectListItem>)ViewBag.CLIENT, Model.DictVM.CLIENT, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.DictVM.CLIENT, "", new { @class = "text-danger" })
                                            </div>
                                        </div><br />

                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">Location<span class="text-danger">*</span>&nbsp; &nbsp;</label>
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(model => model.DictVM.LOCATION, (IEnumerable<SelectListItem>)ViewBag.LId, Model.DictVM.LOCATION, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.DictVM.LOCATION, "", new { @class = "text-danger" })
                                            </div>
                                        </div><br />


                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">Job Title<span class="text-danger">*</span>&nbsp; &nbsp;</label>
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.DictVM.JOB_TITLE, new { htmlAttributes = new { @class = "form-control", Type = "textarea" } })
                                                @Html.ValidationMessageFor(model => model.DictVM.JOB_TITLE, "", new { @class = "text-danger" })
                                            </div>
                                        </div><br />



                                        <div class="row">
                                            <div class="col-md-8">
                                                &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                                                <input type="checkbox" />Offshore Project
                                            </div>
                                            <div class="col-md-2 ">
                                                <label class=" col-form-label float-md-right">Staff<span class="text-danger">*</span></label>
                                            </div>
                                            <div class="col-md-2">
                                                <label class=" col-form-label">Worker<span class="text-danger">*</span></label>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">OT % Split<span class="text-danger">*</span></label>
                                            <div class="col-md-2">
                                                @Html.EditorFor(model => model.DictVM.OT_PERCENT, new { htmlAttributes = new { @class = "form-control" } })
                                            </div><span class="col-md-2" style="color:blue">enter values without % symbol</span>
                                            <label class="col-sm-2 col-form-label">Per day Food Cost</label>
                                            <div class="col-md-2">

                                                @Html.EditorFor(model => model.DictVM.FOOD_STAFF, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                            <div class="col-md-2">
                                                @Html.EditorFor(model => model.DictVM.FOOD_WORKER, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Fuel % <span class="text-danger">*</span> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</label>
                                            <div class="col-md-2">
                                                @Html.EditorFor(model => model.DictVM.FUEL_PERCENT, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DictVM.FUEL_PERCENT, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-2">
                                                <input type="checkbox" />Joint Venture
                                            </div>
                                            <div class="col-md-2">
                                                <input type="checkbox" />Anticipated
                                            </div>
                                        </div>

                                    </div>

                                    @*</div>
                                        </div>*@
                                    <!-- /.card-body -->

                                    <div class="card-footer-sap">
                                        @*<button type="submit" class="btn btn-primary">Submit</button>*@

                                        <div class="col-md-4">
                                            <input type="submit" value="Update" class="btn btn-primary" />
                                            &nbsp;&nbsp;
                                            <input type="submit" value="Exit" class="btn btn-danger" />
                                        </div>

                                    </div>
                                }

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>








</body>
</html>
