@model BusinessApplication.ViewModels.MultipleVM
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Recover Password</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!--Client side Validation Files-->
    @*<script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
</head>
<body class="hold-transition login-page">


    <!-- /.login-logo -->
    <div class="card" style="width:400px;position:relative;left:400px;top:100px">
        <div class="card-body login-card-body">
            <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>


            @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
            {
        @Html.AntiForgeryToken()
                        <p class="login-box-msg" style="color:green">@TempData["msg"]</p>
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                        <div class="input-group mb-3">
                                                            @Html.PasswordFor(model => model.changePassword.OldPassword, new { @placeholder = "OldPassword", @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.changePassword.OldPassword, "", new { @class = "text-danger" })
                                                            <div class="input-group-append">
                                                                <div class="input-group-text">
                                                                    <span class="fas fa-lock"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                                        <div class="input-group mb-3">
                                                                            @Html.PasswordFor(model => model.changePassword.NewPassword, new { @placeholder = "NewPassword", @class = "form-control" })
                                                                            @Html.ValidationMessageFor(model => model.changePassword.NewPassword, "", new { @class = "text-danger" })
                                                                            <div class="input-group-append">
                                                                                <div class="input-group-text">
                                                                                    <span class="fas fa-lock"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                                        <div class="input-group mb-3">
                                                                                            @Html.PasswordFor(model => model.changePassword.ConfirmPassword, new { @placeholder = "ConfirmPassword", @class = "form-control" })
                                                                                            @Html.ValidationMessageFor(model => model.changePassword.ConfirmPassword, "", new { @class = "text-danger" })
                                                                                            <div class="input-group-append">
                                                                                                <div class="input-group-text">
                                                                                                    <span class="fas fa-lock"></span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                                        <div class="row">

                                                                                                            <!-- /.col -->
                                                                                                            <div class="col-12">
                                                                                                                <input type="submit" value="Change Password" class="btn btn-primary btn-block"/>
                                                                                                                @*<a href="@Url.Action("Index","Home")" class="btn btn-primary" >Back</a>*@
                                                                                                            </div>
                                                                                                            <!-- /.col -->
                                                                                                        </div>}

        </div>
        <!-- /.login-card-body -->
    </div>

    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>
