
@{
    ViewBag.Title = "Valueofworkdone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Valueofworkdone</h2>

@using (Html.BeginForm("ExportReport", "TestReport", new { reportType = ViewBag.ReportType }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="">
        <div class="Report-box">
            <!-- general form elements -->
            <div class="card card-primary mt-2">
                <div class="Report-cardhead-sap">
                    <h3 class="card-title">VOWD Report</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form>
                    <div class="card-body">

                        <div class="row mb-3">
                            <div class="">
                                <div class="form-group">
                                    <label class="mt-md-2">Reporting Year</label>
                                </div>
                                <div class="form-group">
                                    <label>Job(s)</label>
                                </div>
                                <div class="form-group">
                                    <label>Reporting Month</label>
                                </div>
                                <div class="form-group">
                                    <label>User</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.DropDownList("BPYEAR", ViewBag.BPYEAR as SelectList, "Select Year", new { id = "BPYEAR", @Class = "form-control" })
                                </div>

                                <div class="form-group">
                                    @Html.DropDownList("JOBNO", ViewBag.JOBNO as SelectList, "Select JOBNO", new { id = "JOBNO", @Class = "form-control" })
                                </div>


                                <div class="form-group">
                                    <select class="form-control select2" style="width: 100%;" name="month">
                                        <option selected="selected">Month</option>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">Octomber</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    @Html.DropDownList("USER", ViewBag.User as SelectList, "Select User", new { id = "USER", @Class = "form-control" })
                                </div>
                            </div>

                        </div>

                        <hr />

                    </div>
                    @*<div class="Report-cardfooter-sap">
                            <div class="row ">

                                <div class="col-md-6"></div>
                                <div class="col-md-3 mt-md-3">
                                    <button type="button" class="btn btn-primary">Show</button>
                                </div>
                                <div class="col-md-3 mt-md-3">
                                    <button type="submit" class="btn btn-primary">Download</button>
                                </div>
                            </div>

                        </div>*@

                    <div class="card-footer-sap">
                        @*<button type="submit" class="btn btn-primary">Submit</button>*@

                        <div class="col-md-4">
                            <input type="submit" value="Show Report" class="btn btn-primary" />
                            @*&nbsp;&nbsp;
                                <input type="submit" value="Exit" class="btn  btn-danger" />*@
                        </div>

                    </div>
                    <!-- /.card-body -->
                </form>

            </div> <!-- /.card -->

        </div>
    </div>


}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
