@model BusinessApplication.ViewModels.MultipleVM
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Income</title>
</head>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-header-sap">
                        @using (Html.BeginForm("Income", "BP", new { year = ViewBag.Year, jobno = ViewBag.JobNo }, FormMethod.Post))
                        {
                            <div class="card-header">
                                <h3 class="card-title">[@ViewBag.Year - @ViewBag.JobNo : Income]</h3>
                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="submit" value="Update" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-3" style="margin: 2px;">
                                <div class=" p-2 table-responsive" style="overflow-x: auto;">
                                    <div class="table-wrapper table-rs">
                                        <table class="table table-hover table-bordered table-striped text-nowrap" id="dtHorizontalExample">
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.MaterialIH.ID)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.MaterialIH.DESCRIPTION)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.MaterialIH.JAN)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.MaterialIH.FEB)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.MaterialIH.MAR)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.MaterialIH.APR)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.MaterialIH.MAY)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.MaterialIH.JUN)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.MaterialIH.JUL)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.MaterialIH.AUG)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.MaterialIH.SEP)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.MaterialIH.OCT)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.MaterialIH.NOV)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.MaterialIH.DEC)
                                                </th>
                                            </tr>
                                            @if (Model.InList != null)
                                            {
                                                for (int i = 0; i < Model.InList.Count; i++)
                                                {
                                                    @Html.HiddenFor(modelItem => Model.InList[i].ID)
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.InList[i].ID)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.InList[i].DESCRIPTION)
                                                        </td>

                                                        <td class="rs">
                                                            @Html.TextBoxFor(modelItem => Model.InList[i].JAN, new { @class = "form-control rs" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => Model.InList[i].FEB, new { @class = "form-control rs" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => Model.InList[i].MAR, new { @class = "form-control" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => Model.InList[i].APR, new { @class = "form-control" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => Model.InList[i].MAY, new { @class = "form-control" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => Model.InList[i].JUN, new { @class = "form-control" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => Model.InList[i].JUL, new { @class = "form-control" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => Model.InList[i].AUG, new { @class = "form-control" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => Model.InList[i].SEP, new { @class = "form-control" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => Model.InList[i].OCT, new { @class = "form-control" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => Model.InList[i].NOV, new { @class = "form-control" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(modelItem => Model.InList[i].DEC, new { @class = "form-control" })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
