@model BusinessApplication.ViewModels.MultipleVM

@{

    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <div>
        <div  role="document">
            <h3>Add User</h3>
            <div class="modal-content">
                @using (Html.BeginForm("Create", "UserAuthorization", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <!-- Your Create form content here -->
                    <div class="form-horizontal">
                        <hr />
                        <p class="login-box-msg">@Html.ValidationSummary(true, null, new { @style = "color:red" })</p>
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserTbl.BP_USER, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UserTbl.BP_USER, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserTbl.BP_USER, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UserTbl.BP_PASSWD, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UserTbl.BP_PASSWD, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserTbl.BP_PASSWD, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>

</body>
</html>
